 th,td{

text-align: center;

 }

 .ui-widget-header,.ui-state-default, .ui-button{
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
         }


         body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


   .cluster {
margin-top:3%;
height:5%;
width:80%;
   }  


   .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
      }
      .bar rect {
        fill: steelblue;
        shape-rendering: crispEdges;
      }
      .bar rect:hover{
        fill: rgba(0,0,0,.8);
      }
      .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

    .land {
        fill: #ccc;
    }

    .boundary {
        fill: none;
        stroke: #fff;
        stroke-width: .5px;
    }